@charset "UTF-8";
*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
body{
	padding-top: 400px;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li,q,blockquote,input,textarea,label, small{
	font-family: 'Titillium Web', sans-serif;
}
h1{font-size: 2.323em; width: 335px; color: rgb(245,63,63);}
h2{font-size: 2.178em; width: 335px; color: rgb(245,63,63);}
h3{font-size: 2.041em; width: 335px; color: rgb(245,63,63);}
h4{font-size: 1.913em; width: 335px; color: rgb(245,63,63);}
h5{font-size: 1.793em; width: 335px; color: rgb(245,63,63);}
h6{font-size: 1.68em; width: 335px; color: rgb(245,63,63);}
p,q{
	font-size: 1em; 
	line-height:1.250em;
	width: 335px; 
	color: rgb(100,100,100);
}
q{
	quotes: "\201C" "\201D" "\2018" "\2019";
	display: block; 
	width: 335px;
	text-align: left; 
	font-size: 1em; 
	margin: 0 auto;
	letter-spacing: 0.1px;
	
}
q:before{
	content: open-quote; 
	font-size: 32px; 
	color: rgb(245,63,63);
	display: block;
	margin-left: -1em;
	line-height: 0;
	font-family: 'Times New Roman', times, serif;
}
q:after{
	content: close-quote; 
	font-size: 32px; 
	color: rgb(245,63,63);
	display: block;
	margin-left: 351px;
	line-height: 0;
	font-family: 'Times New Roman', times, serif;
}


/*---------------------------------------------------------------------------
----------------------------------------------------------------------------
GRID LAYOUT - Modular scale 
2.323em, -> 2.178em -> 2.041em -> 1.913em -> 1.793em -> 1.68em -> p 1.575
----------------------------------------------------------------------------
---------------------------------------------------------------------------*/

[class*='col-']{
	float: left;

}
[class*='col-']{
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0;
}
/*---------------------------------------------------------------------------
----------------------------------------------------------------------------
BASIC STYLING ACROSS MOBILE AND NON-MOBILE
----------------------------------------------------------------------------
---------------------------------------------------------------------------*/
.success{
	margin: 0 auto;
  	text-align: center;
  	color: rgb(255, 255, 255);
}
.warning{
	margin: 0 auto;
  	text-align: center;
  	color: rgb(248, 189, 0);
}
.bio{
	-webkit-columns: 3 200px;
    -moz-columns: 3 200px;
	columns: 3 200px;
  	-webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
  	-webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
}
.bio p{
	width: 100%;	
}
.bio:first-child{
	padding: 30px;
    border-left: 5px solid rgb(245,63,63);
    background-color: #f5f4f2; 
    line-height:1.250em;
    position: relative;
}
.bio:first-child::first-letter{
	font-size: 72px;
    float: left;
    padding: 10px;
    height: 64px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(245,63,63);
    margin-right: 10px;
    color: white;
    line-height: 70px;
}
.bio:first-child:first-line {
    font-weight: bold;
    font-size: 1.575em;
    color: rgb(245,63,63);
}
.bio:first-child::first-letter{/*firefox*/
	font-size: 72px;
    float: left;
    padding: 10px;
    height: 64px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(245,63,63);
    margin-right: 10px;
    color: white;
    line-height: 70px;
}
.bio:first-child::first-line {/*firefox*/
    font-weight: bold;
    font-size: 1.575em;
    color: rgb(245,63,63);
}
.portfolio-title, .companyName{
	font-family: "Roboto" sans-serif;
	text-transform: uppercase;
	color:rgb(0,0,0);
	margin: 0 auto;
	font-size: 1em;
}
.positionName{
	font-family: "Roboto" sans-serif;
	text-transform: uppercase;
	color:rgb(0,0,0);
	margin: 0 auto;
	font-size: 1em;
	font-weight: 300;
}
#header-right .special-type{
	color:rgb(0,0,0);
	font-family: 'Roboto', sans-serif;
}
#header-right .special-header {
	font-size: 2.479em;
	color:rgb(0,0,0);
}
#contact-form-header{
	background: #000;
}
.form-style-1{
	color: #fff;
}
/*---------------------------------------------------------------------------
----------------------------------------------------------------------------
MEDIA QUERY FOR LARGER SCREEN
----------------------------------------------------------------------------
---------------------------------------------------------------------------*/
@media screen and (min-width: 640px){
.grid{
	margin: 0 auto;
}
.grid:after{
	content: "";
	display: table;
	clear:both;
}
.col-1-4{
	width: 25%;
}
.col-1-2{
	width: 50%;
}
.col-1-3{
	width: 75%;
}
.col-4-4{
	width: 100%;
}
/*---------------------------------------------------------------------------
----------------------------------------------------------------------------
FIRST HEADER STYLING
----------------------------------------------------------------------------
---------------------------------------------------------------------------*/

#header-right p{
	margin: 0 auto;
	font-size: 1.68em;
	color: rgb(0,0,0);
}
#header-right .special-header {
	margin: 15% auto 0% auto;
}
#whoAmI_header, .main-nav-scrolled{
	position: fixed;
	top: 0;
	width: 100%;
}
#whoAmI_header::after{
	background: rgb(255,255,255);
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
#whoAmI{
	background-image:url('../Images/IMG-20131129-WA0034.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 400px;
}
.main-contain{
	position: relative;
	background: #fff;
}
.main{
	padding-top: 40px;
}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
NAVIGATION SECTION
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#menu-icon{
	display: none;
}
.main-nav, .main-nav ul{
	height: 40px;
	margin-bottom:-40px; 
	width: 100%;
	background: rgba(255,255,255,1);
	z-index: 100;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.main-nav ul{
	list-style: none;
	text-align: right;
}
.main-nav ul li{
	display: inline-block;
}
.main-nav a{
	text-decoration: none;
	color: rgb(0,0,0);
	text-align: center;
	padding: 1em;
}
.main-nav a:hover{
	background: rgb(245,63,63);
	color: #fff;

}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
PORTFOLIO SECTION
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#portfolio-header{
	background-image: linear-gradient(to top,#eee,#fff)
}
.portfolio-intro{
	margin: 0 auto;
	position: relative;
	left: 1.5em;
	text-align: left;
}
@keyframes pulse{
	 0% { transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {transform: translateY(-10px);  box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  { transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}
@-webkit-keyframes pulse{
 	0% {transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {transform: translateY(-10px);   box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  { transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}
@-moz-keyframes pulse{
	from{-moz-transform:scale(1,1);}
	to{-moz-transform:scale(1.01,1.01);}
}
@-o-keyframes pulse{
	from{-o-transform:scale(1,1);}
	to{-o-transform:scale(1.01,1.01);}
}

.portfolio-content figure{
	max-width: 320px;
	overflow: hidden;
}
.portfolio-content figure .portfolio-image{
	max-width: 100%;
  	border: 5px solid #F8F8F8;
  	background: #eee;
  	box-shadow: 0px -1px 3px #224;
}
.portfolio-content .portfolio-title, .portfolio-content .portfolio-fields{
	max-width: 320px;
}
.portfolio-cover{
	margin: 0 auto;
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	width: 100%;
}
.portfolio-title{
	margin: 0.5em auto 0 auto;
	width: auto;
	text-align: center;
}
.portfolio-content{
	display:inline-table;
}
.portfolio-list{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.portfolio-item{
	display: inline-table;
	margin: 0;
	padding: 1em;
}
.portfolio-item:hover{
	animation: pulse 2s infinite linear alternate;
	-webkit-animation: pulse 2s  infinite linear alternate;
	-moz-animation: pulse 2s infinite linear alternate;
	-o-animation: pulse 2s  infinite linear alternate;
}
.portfolio-fields{
	margin-bottom: 0.5em;
}
.portfolio-fields ul{
	padding: 0;
	margin: 0 auto;
}
.field-list{
	margin: 0 auto;
	text-align: center;
}
.field-item{
	display: inline;
	font-size: small;
}
.field-item:nth-child(1n){
	border-right:1px dotted #ccc;
	padding-right:5px;
	padding-left: 5px; 
}
.field-item:last-of-type{
	border: none;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
RESUME
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#resume-half{
	margin: 0 auto;
}
#resume-half h2{
	margin: 10px auto;
	text-align: left;
}
#resume-half blockquote{
	text-align: center;
}
#resumeList, #resumeList ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}
#resumeList li{
	margin: 0 auto;
	padding: 1em;
}
.jobContainer{
	text-align: left;
	display: inline-table;
	padding: 1em;
	margin: 0 auto;
}
.positionName{
	margin: 0 auto;
	color:rgb(0,0,0);
	margin: 0 auto;
}
.jobDescription{
	margin: 0 auto;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
RESUME BUTTONS  => ENGLISH PDF => SPANISH PDF
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#resumePdf, #resumePdf2{
  display: block;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
#resumePdf .resumeButton{
	display: inline-block;
	border:1px solid #eee;
	color: #666;
	margin-top: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
}
#resumePdf .resumeButton:hover{
	border: 1px solid rgb(245,63,63);
	color: rgb(245,63,63);
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
SVG SPECIFIC BUTTONS 
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
div#social-buttons.col-1-4 {
	text-align: right;
}
.facebook, .linkedIn, .twitter, .behance, .mail, .github{
	text-decoration: none;
}
svg{
	margin: 1em 0.2em;
	width: 24px;
	height: 24px;
	text-align: right;
}
svg rect, .rect{
	fill:rgb(0,0,0);
	width:24px;
	height: 24px;
}
svg rect:hover, svg.rect:hover{
	fill:rgb(245,63,63);
}
svg polygon, svg.mail-poly, svg path.mail-poly{
	fill:rgb(255,255,255);
}
.svg-facebook{
	margin:0;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	fill: rgb(59,89,152);
}
.svg-facebook:hover{
	fill: rgb(245,63,63);
}
.svg-linkedIn{
	text-decoration: none;
	display: inline-block;
	fill: rgb(0,119,181);
}
.svg-linkedIn:hover{
	fill: rgb(245,63,63);
}
.svg-twitter{
	text-decoration: none;
	display: inline-block;
	fill: rgb(85,172,238);
}
.svg-twitter:hover{
	text-decoration: none;
	display: inline-block;
	fill: rgb(245,63,63);
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
CONTACT FORM HEADER  => Google Maps
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#contact-form-header{
	position: relative;
}
#contact-form-header:after{
	background: linear-gradient(to bottom,#eee,#fff);
	background: -webkit-linear-gradient(bottom right,#eee,#fff);
	background: -moz-linear-gradient(to bottom,#eee,#fff);
	background: -o-linear-gradient(to bottom,#eee,#fff);
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
#map-canvas{
	height: 455px;
	width: 50%;
	background:#333;
	margin:0;
}

#firstHeading{
	margin: 0 auto;
	text-align: center;
}
#bodyContent ul li{
	list-style: none;
	margin:0;
}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
CONTACT FORM
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#contain-form, #contain-form h2 {
	margin:0 auto;
}
#contain-form h2{
	text-align: center;
	margin-top: 10px;
}
.form-style-1 {
    margin: 0 auto;
    text-align: left;
    width: 350px;
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #ccc;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px rgb(245,63,63);
    border: 1px solid rgb(245,63,63);
}
.form-style-1 .field-divided{
    width: 49.5%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: rgb(245,63,63);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: rgb(192, 10, 10);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    transition: all 400ms ease-in-out;
     -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.form-style-1 .required{
    color:red;
}




/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
footer{
	width: 100%;
	background-color: #010011;
}
footer:after{
	content: "";
	display: table;
}
footer p{
	color: #eee;
	width: 100%;
	margin: 0 auto;
	padding: 2.323em;
	text-align: center;
}


}




/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE RESPONSE
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/

@media screen and (max-width: 639px){

*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} 
html,body, header, div{
	margin: 0;
	padding: 0;
}

[class*='col-']{
	float: left;

}
[class*='col-']{
	padding-bottom: 20px;
	padding-right: 0;
}
[class*='col-']:last-of-type{
	padding-bottom: 0;
}
.grid{
	margin: 0 auto;
}
.grid:after{
	content: "";
	display: table;
	clear:both;
}
.col-1-4{
	width: 100%;
}
.col-1-2{
	width: 100%;
}
.col-1-3{
	width: 100%;
}
.col-4-4{
	width: 100%;
}

h1{font-size: 2.323em; width: 100%; color: rgb(245,63,63); margin: 0; padding:0;}
h2{font-size: 2.178em; width: 100%;  color: rgb(245,63,63); margin: 0; padding:0;}
h3{font-size: 2.041em; width: 100%;  color: rgb(245,63,63); margin: 0; padding:0;}
h4{font-size: 1.913em; width: 100%;  color: rgb(245,63,63); margin: 0; padding:0;}
h5{font-size: 1.793em; width: 100%;  color: rgb(245,63,63); margin: 0; padding:0;}
h6{font-size: 1.68em;  width: 100%;  color: rgb(245,63,63); margin: 0; padding:0;}
p,q{
	font-size: 1em; 
	line-height:1.250em;
	width: 100%; 
	color: rgb(100,100,100);
	margin: 0; padding:0;
}

/*---------------------------------------------------------------------------
----------------------------------------------------------------------------
MOBILE FIRST HEADER STYLING
----------------------------------------------------------------------------
---------------------------------------------------------------------------*/
#header-right{
	padding: 1em;
}
#header-right p{
	margin: 0 auto;
	font-size: 1.68em;
	color: rgb(0,0,0);
}
#header-right .special-type{
	color:rgb(0,0,0);
	font-family: "Roboto" sans-serif
}
#header-right .special-header {
	font-size: 2.479em;
	margin: 0% auto 0% auto;
	color:rgb(0,0,0);
}
#whoAmI_header, .main-nav-scrolled{
	position: fixed;
	top: 0;
	width: 100%;
}
#whoAmI_header{
	position: relative;
}
#whoAmI_header::after{
	background: rgb(255,255,255);
	/*background: linear-gradient(to top,#eee,#fff);
	background: -webkit-linear-gradient(top right,#eee,#fff);
	background: -moz-linear-gradient(to top,#eee,#fff);
	background: -o-linear-gradient(to top,#eee,#fff);*/
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
#whoAmI{
	background-image:url('../Images/IMG-20131129-WA0034.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 400px;
}
.main-contain{
	position: relative;
	background: #fff;
}
.main{
	padding-top: 0px;
}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
NAVIGATION SECTION
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#menu-icon{
	display: block;
	color:#fff;
	width: 100%;
	height: 40px;
	background: #000;
	padding: 5px;
	cursor: pointer;
	text-align: left;
	font-family: "Titillium Web" sans-serif;
}
#nav{
	clear: both;
	position: absolute;
	top: 40px;
	z-index: 1000;
	background: rgba(255,255,255,0.9);
	border: 1px solid #ecebeb;
	box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	display: none;
}
#nav li{
	width: 100vw;
}
#nav li:hover{
	color: #fff;
	background: rgb(245,63,63);
}
#nav a{
	height: 40px;
	width: 100%;
	border-bottom: 1px solid rgb(245,63,63);
}
.main-nav{
	height: 40px;
	margin-bottom:-40px; 
	width: 100%;
	line-height: 35px;
	background: rgba(255,255,255,1);
	z-index: 100;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}
.main-nav a{
	text-decoration: none;
	color: rgb(245,63,63);
	text-align: center;	
}
.main-nav a:hover{
	background: rgb(245,63,63);
	color: #fff;
	
}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
PORTFOLIO SECTION
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
@keyframes pulse{
	 0% { transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {transform: translateY(-10px);  box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  { transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}
@-webkit-keyframes pulse{
 	0% {transform:translateY(0px);    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
    50% {transform: translateY(-10px);   box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);}
    100%  { transform:translateY(0px); box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);}
}
@-moz-keyframes pulse{
	from{-moz-transform:scale(1,1);}
	to{-moz-transform:scale(1.01,1.01);}
}
@-o-keyframes pulse{
	from{-o-transform:scale(1,1);}
	to{-o-transform:scale(1.01,1.01);}
}
#portfolio-header{
	background-image: linear-gradient(to top,#eee,#fff)
}
h2.portfolio-intro{
	margin: 10px auto;
	text-align: center;
}
#portfolio{
	margin: 0 auto;
}
.portfolio-content figure{
	max-width: 320px;
	overflow: hidden;
}
.portfolio-content figure .portfolio-image{
	max-width: 100%;
  	border: 5px solid #F8F8F8;
  	background: #eee;
  	box-shadow: 0px -1px 3px #224;
}
.portfolio-content .portfolio-title, .portfolio-content .portfolio-fields{
	max-width: 320px;
}
.portfolio-cover{
	margin: 0;
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	width: 100%;
}
.portfolio-title{
	margin: 0.5em auto 0 auto;
}
.portfolio-content{
	display:inline-table;
}
.portfolio-list{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.portfolio-item{
	display: inline-table;
	margin: 0 auto;
	padding: 1em;
}
.portfolio-item:hover{
	animation:none;
	-webkit-animation: none;
	-moz-animation:none;
	-o-animation: none;
}
.portfolio-fields{
	margin-bottom: 0.5em;
}
.portfolio-fields ul{
	padding: 0;
	margin: 0 auto;
}
.field-list{
	margin: 0 auto;
	text-align: center;
}
.field-item{
	display: inline;
	font-size: small;
}
.field-item:nth-child(1n){
	border-right:1px dotted #ccc;
	padding-right:5px;
	padding-left: 5px; 
}
.field-item:last-of-type{
	border: none;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE RESUME
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#resume-half{
	margin: 0 auto;
}
#resume-half h2{
	margin: 10px auto;
	text-align: center;
}
#resume-half blockquote{
	display: none;
	text-align: center;
}
#resumeList, #resumeList ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}
#resumeList li{
	margin: 0 auto;
	padding: 1em;
}
#resumeList li:nth-child(1n){
	border-bottom: 1px dotted rgb(245,63,63);
}
#resumeList li:last-of-type{
	border-bottom: none;
}
.jobContainer{
	display: inline-table;
	padding: 0.4em;
	margin: 0;
	text-align: left;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE RESUME BUTTONS  => ENGLISH PDF => SPANISH PDF
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#resumePdf, #resumePdf2{
  display: block;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
#resumePdf .resumeButton{
	display: inline-block;
	border:1px solid #eee;
	color: #666;
	margin-top: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
}
#resumePdf .resumeButton:hover{
	border: 1px solid rgb(245,63,63);
	color: rgb(245,63,63);
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE SVG SPECIFIC BUTTONS 
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
div#social-buttons.col-1-4 {
	text-align: center;
}
.facebook, .linkedIn, .twitter, .behance, .mail, .github{
	text-decoration: none;
}
svg{
	margin: 1em 0.2em;
	width: 24px;
	height: 24px;
	text-align: right;
}
svg rect, .rect{
	fill:rgb(0,0,0);
	width:24px;
	height: 24px;
}
svg rect:hover, svg.rect:hover{
	fill:rgb(245,63,63);
}
svg polygon, svg.mail-poly, svg path.mail-poly{
	fill:rgb(255,255,255);
}
.svg-facebook{
	margin:0;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	fill: rgb(59,89,152);
}
.svg-facebook:hover{
	fill: rgb(245,63,63);
}
.svg-linkedIn{
	text-decoration: none;
	display: inline-block;
	fill: rgb(0,119,181);
}
.svg-linkedIn:hover{
	fill: rgb(245,63,63);
}
.svg-twitter{
	text-decoration: none;
	display: inline-block;
	fill: rgb(85,172,238);
}
.svg-twitter:hover{
	text-decoration: none;
	display: inline-block;
	fill: rgb(245,63,63);
}

/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE CONTACT FORM HEADER  => Google Maps
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#contact-form-header{
	position: relative;
}
#contact-form-header:after{
	background: linear-gradient(to bottom,#eee,#fff);
	background: -webkit-linear-gradient(bottom right,#eee,#fff);
	background: -moz-linear-gradient(to bottom,#eee,#fff);
	background: -o-linear-gradient(to bottom,#eee,#fff);
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
#map-canvas{
	display: none;
	height: 455px;
	width: 50%;
	background:#333;
	margin:0;
}

#firstHeading{
	margin: 0 auto;
	text-align: center;
}
#bodyContent ul li{
	list-style: none;
	margin:0;
}
/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE CONTACT FORM
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
#contain-form, #contain-form h2 {
	margin:0 auto;
}
#contain-form h2{
	text-align: center;
	margin-top: 10px;
}
.form-style-1 {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 100%; 
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #ccc;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px rgb(245,63,63);
    border: 1px solid rgb(245,63,63);
}
.form-style-1 .field-divided{
    width:49.5%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: rgb(245,63,63);
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: rgb(192, 10, 10);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    transition: all 400ms ease-in-out;
     -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.form-style-1 .required{
    color:red;
}




/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
MOBILE FOOTER
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
footer{
	width: 100%;
	background-color: #010011;
}
footer:after{
	content: "";
	display: table;
}
footer p{
	color: #eee;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 2.323em;
}


/*----------------------------------------------------------------------------
-----------------------------------------------------------------------------
END MOBILE RESPONSE
-----------------------------------------------------------------------------
----------------------------------------------------------------------------*/
}
