@charset "UTF-8";
*, *:before, *:after{
	margin: 0;
	padding:0;
}
html{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
nav{
	width: 100%;
	margin: 0 auto;
	background: rgba(250,250,250,0);

	box-shadow: 0px 0px 10px #333;
	z-index: 99999;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: right;
}
nav:hover{
	background: rgba(250,250,250,1);
	transition: all 700ms ease-in-out;
	-webkit-transition: all 700ms ease-in-out;
	-moz-transition: all 700ms ease-in-out;
}
body{
	margin: 0 auto;
	padding: 0;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6,q{
	font-family: 'Titillium Web', sans-serif !important;
	color: rgb(100,100,100);
	letter-spacing: -1px;
	margin: 0px auto;
	/*line-height: 18px;*/
}
a{margin: 0; color: rgb(100,100,100);}
/* MODULAR FONT SIZE ------------------------------
5, 7, 9, 12, 16, 21, 28, 37, 50, 67, 83.*/
h1 { font-size: 64px; text-transform: uppercase;}
h2 { font-size: 47.5px; text-transform: uppercase;}
h3 { font-size: 32px; text-transform: uppercase;}
h4 { font-size: 23.75px; text-transform: uppercase;}
a{ font-family: 'Titillium Web', sans-serif; font-size: 18px;}
q{
	quotes: "\201C" "\201D" "\2018" "\2019";
	display: block; 
	text-align: left; 
	font-size: 16px; 
	margin: 0 auto;
	letter-spacing: 0.1px;
	
}
q:before{
	content: open-quote; 
	font-size: 32px; 
	color: lightsalmon;
	display: block;
	margin-left: -1em;
	line-height: 0;
	font-family: 'Times New Roman', times, serif;
}
q:after{
	content: close-quote; 
	font-size: 32px; 
	color: lightsalmon;
	display: block;
	margin-left: 351px;
	line-height: 0;
	font-family: 'Times New Roman', times, serif;
}
blockquote{
	margin: 0 auto;
	width: 335px;
}
blockquote p{
	text-align: right;
}
p, ul, li, input, textarea, label{
	font-family: 'Titillium Web', sans-serif !important;
	color: rgb(100,100,100);
	line-height: 20px;
	font-size: 16px;
	margin: 23.75px auto;
}	
header{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
header > div{
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

div > h2{
	/* top, right, bottom, left - shorthand */
	text-align: center;


}
div > p{
	/* top, right, bottom, left - shorthand */
	text-align: left;
	/*padding: 1% 5% 2% 5%;// This causes problems when mobile fix later*/
	width: 335px;
	display: inline-block;
	vertical-align: middle;
}
footer{
	width: 100%;
	height: 25vh;
	background-color: #333;
	display: table;
}
footer p{
	color: #ccc;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-left:5%;
	padding-right: 5%; 
}
#elephant{
	background-image: linear-gradient(to top,#eee,#fff);/*#dc4225*/
}
#elephant > h2{
	color: salmon;
	width: 95%;
}

#elephant > ul {
	display: inline-table;
	width: 95%;
}
#portList li > img{
	width: 335px;
}
#portList > li{
	display: inline-table;
	opacity: 0.6;
	padding: 1px;
	transform:translateY(0);
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-o-transform:translateY(0);
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
	-moz-transition: all 800ms ease-in-out;
	-ms-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
}
#portList li:hover{
	opacity: 1;
	background: rgba(255, 249, 190, 1);
	transform:translateY(-5%);
	-webkit-transform:translateY(-5%);
	-moz-transform:translateY(-5%);
	-o-transform:translateY(-5%);
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
}
#portList li > p{
	width: 300px;
	height: 75px;
	padding: 3px;
	margin: 0 auto;
	overflow: hidden;
}
#portList p{
	color: black;
}
#elephant div > p{
	display: table-footer-group;
	
}
#portfolioButtons{
  display: block;
  border: none;
  text-align: left;
  margin-left: 3%;
  padding: 0;
  width: 95%;
  margin: 0 auto;
}
#portfolioButtons .portButton{
	display: inline-block;
	border:1px solid #eee;
	color: #666;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
}
#portfolioButtons .portButton:hover{
	border: 1px solid tomato;
	color: tomato;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
/*#elephant{
	position: relative;
}
#elephant::after{
	background: url('../Images/swirl_pattern.png');
	opacity: 0.4;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
#portfolio p{
	display: block;
}
.portfolio{
	width: 250px;
	height: auto;
	padding: 3px;
	margin: 0 auto;
	border: 0px none;
	display: inline-block;
}
#portfolio .portfolio p{
	padding: 0px;
	display: table;
	text-align: center;
	width: 250px;

	border-top: 1px solid #ddd;
}
.portfolioImages{
	padding: 0px;
	background-size: cover;
    display: inline-block;
    height: 250px;
	width: 250px;
	
}
#portfolio > div{
	opacity: 0.7;
}
#portfolio > div:hover{
	opacity: 1;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
}
#expandedImage, #expandedImage img, #expandedImage p{
	
}
/*.portfolio > p:hover{
	color: #111;
	background: rgba(220,66,37,0.8);
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	cursor: pointer;
}*/
.pImg{
	text-align: center;
}
#whoAmI_header h2{
	text-transform: lowercase;
	width: 95%;
}
#whoAmI_header{
	position: relative;
}
#whoAmI_header::after{
	background: url('../Images/45degreee_fabric.png');
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}

#contactButtons{
	width: 90%;
	margin: 0 auto;
	text-align: right;

}
.hireMe{
	cursor: pointer;
	font-size: 100%;
	display: inline-block;
	text-decoration: none;
}
.hireMe:hover{
	background: rgba(250,255,150,0.5);
}




/* - - - - - - - SELECTION - - - - - - - - */	
::selection{
	background: lightsalmon;
	color: rgb(255,255,255);
	text-shadow: 0px 1px 2px darkblue;
}
::-moz-selection{
	background: lightsalmon;
	color: rgb(255,255,255);
	text-shadow: 0px 1px 2px darkblue;
}
::-webkit-selection{
	background: lightsalmon;
	color: rgb(255,255,255);
	text-shadow: 0px 1px 2px darkblue;
}

/*
.modalDialog{
	position:fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(100,100,100,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog::after{
	background: url('../Images/45degreee_fabric.png');
	opacity: 0.8;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
  	content: '';
}
.modalDialog:target{
	opacity: 1;
	pointer-events:auto;
}
.modalDialog > div{
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 10px 20px 10px 20px;
	background: #fefefe; 
	border-radius: 0px;
	box-shadow: 0px 0px 15px #333;
	/*background:  -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.1));
	background:  -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(200,200,200,1));
	background:  -webkit-gradient(linear,top, rgba(255,255,255,1), rgba(200,200,200,1));
	background:  -o-linear-gradient(top, rgba(255,255,255,1), rgba(200,200,200,1));
	background:  linear-gradient(top, rgba(255,255,255,1), rgba(200,200,200,1));
	
}
.modalDialog p, .modalDialog h2{
	margin: 0;
}
.modalDialog label, .modalDialog label input{
	display: inline-block;
}
.close{
	font-family: 'Titillium Web', sans-serif;
	background: #eee;
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
	width: 30px;
	text-decoration: none;
}
.close:hover{
	background: rgba(220,66,37,0.8);
	opacity: 0.8; 
	 -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
*/
.form-style-1 {
    margin: 0;
    text-align: left;
    width: 350px;
    padding: 20px 12px 10px 20px;
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #ccc;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
    font: 13px 'Titillium Web', sans-serif;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: rgba(220,66,37,0.8);
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    transition: all 400ms ease-in-out;
     -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.form-style-1 .required{
    color:red;
}




#resume{
	
}
#resume > div{
	text-align: left;
	margin: 0 auto;
	width: 95%;
}
#resume div h2 {
	color: darkblue;
	width: 95%;
	margin: 23.75px auto;
}
#resume ul{
	width: 95%;
	margin: 0 auto;
}
#resume ul li{
  display: inline-table;
  margin: 3px;
  height: 226px;
  overflow: hidden;
  width: 300px;
  border: 1px solid #efefef;
  background: rgba(253,253,250,0.5);
  padding: 1em;
  list-style: none;
}
#resume .companyName{
	padding: 0;
	margin: 0;
	color: darkblue;
}
#resume .positionName{
	padding: 0;
	margin: 3px auto;
	color: lightsalmon;
}
#resume .jobDescription{
	padding: 0;
	margin: 0;
}
#resume .locateJob{
	padding: 0;
	margin: 5px auto;
}
#resume #resumePdf{
	text-align: right;
	width: 95%;
	margin: 0 auto;
}
#resume .resumeButton{
	display: inline-block;
	text-align: right;
	border:1px solid #eee;
	color: #666;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 800ms ease-in-out;
	-webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
}
#resume .resumeButton:hover{
	border: 1px solid darkblue;
	color: darkblue;
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.contact-text{
	
}

#contain-map{
	padding: 1em;
}
#map-canvas{
	height: 500px;
	width: 100vw;
	float: left;
}














/* - - - - - - - -  MEDIA SCREEN SIZE - - - - - - - - - */
@media screen and (max-width: 480px){
#whoAmI_header{
	position: relative;
	margin-top: -17px;
  transform: translateX(0em) perspective(1200px) rotateY(6deg);
  overflow: hidden;
}
*, *:before, *:after{
	margin: 0;
	box-sizing:border-box;
}
html{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
}